<div class="ui card" id ="{{name}}">
  <div class="image">
    <img src="{{image}}">
  </div>
  <div class="content">
    <a class="header">{{fullname}}</a>
    <div class="meta">
      <span class="date">Joined in {{joined}}</span>
    </div>
    <div class="description">
      {{name}} is {{job}} based in {{city}}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="mail outline icon"></i>
      {{contact}}
    </a>
    <br>
    <a>
      <i class="clock outline icon"></i>
      {{experience}} Months experience
    </a>
  </div>
</div>