{{#unless wishlist.games}}
  <h3 class="ui center aligned message">It's a bit empty in here... let's start by building your wishlist!</h3>
{{/unless}}

{{#if wishlist.games}}

  <table class="ui inverted fixed striped table">
    <thead>
      <tr>
        <th class="four wide">Game</th>
        <th class="four wide">Console</th>
        <th class="three wide">Genre</th>
        <th class="three wide">Price</th>
        <th class="one wide"> </th>
        <th class="one wide"> </th>
      </tr>
    </thead>
  <tbody>
      {{#each wishlist.games}}
      <form class = "ui form" action="/wishlist/{{../wishlist.id}}/updategame/{{id}}" method="POST">
      <tr class="fields">
        <td class="field">
          <span class="ui input">
           <input placeholder="Title" type="text" size="30" name="title" autofocus required value = "{{capitalise title}}">
          </span>
        </td>
        <td class="field">
          <span class="ui input">
            <input placeholder="Console" type="text" size="30" name="console" required value = "{{capitalise console}}">
          </span>
        </td>
        <td class="field">
          <span class="ui input">
            <input placeholder="Genre" type="text" name="genre" required value = "{{capitalise genre}}">
          </span>
        </td>
        <td class="field">
          <span class="ui input">
            <input placeholder="Price" type="text" name="price" required value = "{{price}}">
          </span>
        </td>
        <td class="center aligned">
          <button class="ui submit icon button"><i class="icon pencil alternate"></i></button>
        </td>
        <td class="center aligned">
          <a href="/wishlist/{{../wishlist.id}}/deletegame/{{id}}" class="ui icon button delgame">
            <i class="icon trash"></i>
          </a>
        </td>
      </tr>
      </form> 
      {{/each}}
    </tbody>
  </table>

  <p>
    <span id="rating"> </span>
  </p>

  <div class="ui animated fade grey submit button" tabindex="0" onclick="getRating()">
    <div class="hidden content"><i class="star icon"></i></div>
    <div class="visible content">Rate the Wishlist!</div>
  </div>

{{/if}}
